<h2>Here are all the available @Model["species"].GetName()s:</h2>

@if (@Model["animals"].Count == 0)
{
  <p>None!</p>
}
else
{
  <ol>
    @foreach (var animal in @Model["animals"])
    {
      <li><a href="/animals/@animal.GetId()">@animal.GetName()</li>
    }
  </ol>
}

<p><a href="/animals/new">Add a new animal</a></p>
<p><a href="/">Return to Main Page</a></p>
